form {
	margin: 0 auto;
	width: 400px;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
}

#button {
	margin-top: 10px;
	text-align: center;
}

.btn {
	color: #0099CC; 
	background: transparent; 
	border-radius: 6px; 
}

.btn:hover {
      background-color: #008CBA;
      color: white;
 }

fieldset {
	margin-top: 10px;
}

input[type=text] {
  border: 1px solid #999;
  border-radius: 0;

  -webkit-appearance: none;
}